html {
    background-color: darkcyan;
}

.container-fuild {
    background-color: darkslategray;
}

input[type="text"] {
    background-color: transparent;
    color: white;
}

input[type="text"]:focus {
    background-color: transparent;
    color: white;
}